<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="format-detection" content="telephone=no, email=no" />
  <link rel="stylesheet" href="static/css/information.css">
	<script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.2/??flexible_css.js,flexible.js"></script>
</head>
<body>
	<div class="header"></div>
	<div class="gray"></div>
	<div class="content">
		<div class="sort">
			<img src="static/images/2.jpg" alt="">
			<span class="sort-title">健康生活</span>
		</div>
		<div class="title">女性经期别涂红花油 可能引起缺铁性贫血</div>
		<div class="subtitle">
	    	<span class="author">作者：马瘦瘦</span>
		    <span class="date">2天前</span>
		</div>
		<div class="p"><p>红花油是常用外伤药，有镇痛、抗炎、消肿的作用，常用于跌打扭伤导致的软组织挫伤和风湿骨痛、外感头痛等，但北京中医药大学东直门医院骨科主任医师李春根提醒女性，经期最好不要用红花油。</p></div>
    <div class="img"><img src="static/images/2.jpg" alt="" /></div>
    <div class="p"><p>李春根指出，女性在月经期不宜使用活血化淤、通络类药物，而红花油、跌打万花油等都有活血作用。月经期的生理变化会影响人体的出血与凝血机制，子宫内膜的自我生理调节作用，使得月经期子宫内膜会释放较多的组织活性物质，从而使人体的出血倾向增加。如果女性擅自用活血药物，可能引起缺铁性贫血，出现头昏、面色苍白等症状。</p></div>
    <div class="img"><img src="static/images/3.png" alt="" /></div>
    <div class="p"><p>李春根还建议，红花油应在损伤后24小时后再用，否则会加重伤情。因为在损伤的急性期即24小时内，皮下软组织周围的小血管会发生破裂。此时，如果使用伤湿止痛膏、红花油等活血化淤药物进行揉搓，就会加重局部的血液渗出，从而加重肿胀。红花油也不能用于擦伤、割伤等有皮肤破损的外伤，或接触眼睛、口腔等黏膜。如果出现严重感染和化脓，应及时去医院就诊，防止病情加重。</p></div>
		<div class="list">
      <span class="list-title"><b>全身疼痛--缺乏维生素D</b></span>
      <ul>
        <li><b>症状:</b>晒太阳不足，活维生素D缺乏的人（骨头和关节疼痛），就容易引起慢性疼痛。</li>
        <li><b>原因:</b>维生素D能够促进膳食中钙，磷的吸收和骨骼的钙化，缺乏时容易患骨质疏松症，骨软化症，佝偻病等。</li>
        <li><b>对策:</b>维生素D能够促进膳食中钙，磷的吸收和骨骼的钙化，缺乏时容易患骨质疏松症，骨软化症，佝偻病等。</li>
      </ul>
		</div>
		<div class="label">
      <ul>
        <li>饮食</li>
        <li>牙齿健康</li>
        <li>水果</li>
        <li>蔬菜</li>
        <li>牙齿健康</li>
        <li>蔬菜</li>
        <li>维生素与健康</li>
      </ul>
		</div>
	</div>
  <div class="gray"></div>
	<div class="other">
    <div class="other-content">
      <h4>激发正能量拒绝“初老症”：学会“有效放松”</h4>
      <p>心情消极、颈椎老化、消化道疲软、记忆力减退, 近日，随着“初老症50条症状”在网上的广泛流传，“不少“80后”尤其是身边的年轻女性比对症状后，发现许多条和自己的情况十分相符，感叹自己“人未老，心已老”。而一项对全球12.562万人进行的调查也显示，中国人最怕老，在中年人群中，有一半以上的人认为自己已经老了；另外还有相当一部分年轻人，已经在用“不再年轻”来形容自己的状</p>
      <span>来源：健康生活</span>
    </div>
    <div class="other-img">
      <img src="static/images/5.jpg" alt="" />
    </div>
	</div>
  <div class="gray"></div>
  <div class="other">
    <div class="other-content">
      <h4>激发正能量拒绝“初老症”：学会“有效放松”</h4>
      <p>心情消极、颈椎老化、消化道疲软、记忆力减退……近日，随着“初老症50条症状”在网上的广泛流传，“不少“80后”尤其是身边的年轻女性比对症状后，发现许多条和自己的情况十分相符，感叹自己“人未老，心已老”。而一项对全球12.562万人进行的调查也显示，中国人最怕老，在中年人群中，有一半以上的人认为自己已经老了；另外还有相当一部分年轻人，已经在用“不再年轻”来形容自己的状</p>
      <span>来源：健康生活</span>
    </div>
    <div class="other-img">
      <img src="static/images/4.jpg" alt="" />
    </div>
	</div>
  <div class="gray"></div>
  <div class="other">
    <div class="other-content">
      <h4>激发正能量拒绝“初老症”：学会“有效放松”</h4>
      <p>心情消极、颈椎老化、消化道疲软、记忆力减退……近日，随着“初老症50条症状”在网上的广泛流传，“不少“80后”尤其是身边的年轻女性比对症状后，发现许多条和自己的情况十分相符，感叹自己“人未老，心已老”。而一项对全球12.562万人进行的调查也显示，中国人最怕老，在中年人群中，有一半以上的人认为自己已经老了；另外还有相当一部分年轻人，已经在用“不再年轻”来形容自己的状</p>
      <span>来源：健康生活</span>
    </div>
    <div class="other-img">
      <img src="static/images/3.png" alt="" />
    </div>
	</div>
</body>
</html>
