<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="format-detection" content="telephone=no, email=no" />
  <script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.2/??flexible_css.js,flexible.js"></script>
  <link rel="stylesheet" href="static/css/ma-prescription.css">
</head>
<body>
  <div class="header">
    <div class="title">体型年龄定制处方</div>
	</div>
  <div class="list">
    <ul>
      <li class="item">
				<div class="icon"><img src="static/images/6.png" alt="" /></div>
		    <div class="content">
          <div class="tip">每天减少平时饭量的30%</div>
          <p>每天减少500kcal，可每月减少2kg体重</p>
        </div>
			</li>
      <li class="item">
        <div class="icon"><img src="static/images/6.png" alt="" /></div>
        <div class="content">
          <div class="tip">摄取新鲜蔬菜</div>
          <p>每天摄取300g以上含有多种维生素和微量元素的蔬菜</p>
        </div>
      </li>
      <li class="item">
				<div class="icon"><img src="static/images/6.png" alt="" /></div>
        <div class="content">
          <div class="tip">加强有氧运动，强化心肺功能</div>
          <p>每周5次，每天60分以上做有氧运动</p>
        </div>
			</li>
      <li class="item">
				<div class="icon"><img src="static/images/6.png" alt="" /></div>
        <div class="content">
          <div class="tip">加强肌肉运动，增加基础代谢率</div>
          <p>每周2次以上肌肉运动与有氧运动并行更为有效</p>
        </div>
			</li>
      <li class="item">
				<div class="icon"><img src="static/images/6.png" alt="" /></div>
        <div class="content">
          <div class="tip">以积极的态度面对繁忙而有计划的日常生活</div>
          <p>制定每天日程和每周计划并实施</p>
        </div>
			</li>
      <li class="item">
        <div class="icon"><img src="static/images/6.png" alt="" /></div>
        <div class="content">
          <div class="tip">学习并维持健康的生活习惯</div>
          <p>反复以前不良生活习惯可出现反弹现象</p>
        </div>
      </li>
    </ul>
  </div>
	<div class="gap"></div>
	<div class="header">
    <div class="title">肝年龄定制处方</div>
	</div>
  <div class="list">
    <ul>
      <li class="item">
				<div class="icon"><img src="static/images/6.png" alt="" /></div>
		    <div class="content">
          <div class="tip">如果饮酒的话，一定要禁酒</div>
          <p>禁酒可改善肝功能，减少肝癌发病率，预防痴呆症</p>
        </div>
			</li>
      <li class="item">
        <div class="icon"><img src="static/images/6.png" alt="" /></div>
        <div class="content">
          <div class="tip">检查甲肝、乙肝，必要时打预防疫苗</div>
          <p>打乙肝疫苗可预防70%肝癌死亡率</p>
        </div>
      </li>
      <li class="item">
				<div class="icon"><img src="static/images/6.png" alt="" /></div>
        <div class="content">
          <div class="tip">禁止不必要的药物或营养剂的摄取</div>
          <p>必要时于医生商量后服用</p>
        </div>
			</li>
      <li class="item">
				<div class="icon"><img src="static/images/6.png" alt="" /></div>
        <div class="content">
          <div class="tip">充分摄取好的蛋白质</div>
          <p>摄取鸡蛋、牛奶、豆制品、深海鱼等</p>
        </div>
			</li>
    </ul>
  </div>
	<div class="gap"></div>
  <div class="header">
    <div class="title">心脏年龄定制处方</div>
	</div>
  <div class="list">
    <ul>
      <li class="item">
				<div class="icon"><img src="static/images/6.png" alt="" /></div>
		    <div class="content">
          <div class="tip">定期、经常测血压</div>
          <p>如果是高血压，平时血压尽量维持在 140/90mmHg以下</p>
        </div>
			</li>
      <li class="item">
        <div class="icon"><img src="static/images/6.png" alt="" /></div>
        <div class="content">
          <div class="tip">摄取低脂、低盐饮食</div>
          <p>脂肪摄取维持在每天摄取量的20~25%， 食盐为5g(钠 2,000mg)以下</p>
        </div>
      </li>
      <li class="item">
				<div class="icon"><img src="static/images/6.png" alt="" /></div>
        <div class="content">
          <div class="tip">每天减少平时饭量的30%</div>
          <p>减少500KCAL，可减少2kg体重</p>
        </div>
			</li>
      <li class="item">
				<div class="icon"><img src="static/images/6.png" alt="" /></div>
        <div class="content">
          <div class="tip">预防容易诱发心脏疾病的口腔疾病</div>
          <p>早晚刷牙，食用牙线，每6个月做口腔检查</p>
        </div>
			</li>
      <li class="item">
				<div class="icon"><img src="static/images/6.png" alt="" /></div>
        <div class="content">
          <div class="tip">避免过度的竞争意识，放松心态</div>
          <p>过度的竞争意识可促发交感神经，引起心血管疾病</p>
        </div>
			</li>
    </ul>
  </div>
	<div class="gap"></div>
  <div class="header">
    <div class="title">肾脏年龄定制处方</div>
	</div>
  <div class="list">
    <ul>
      <li class="item">
				<div class="icon"><img src="static/images/6.png" alt="" /></div>
		    <div class="content">
          <div class="tip">预避免摄取过多的盐分</div>
          <p>一日摄取食盐10g(钠 4,000mg) 以下</p>
        </div>
			</li>
      <li class="item">
        <div class="icon"><img src="static/images/6.png" alt="" /></div>
        <div class="content">
          <div class="tip">避免摄取含添加剂多的食品 </div>
          <p>购买食物时要看好食品成份表， 远离加工食品和方便食品</p>
        </div>
      </li>
      <li class="item">
				<div class="icon"><img src="static/images/6.png" alt="" /></div>
        <div class="content">
          <div class="tip">摄取充足水分</div>
          <p>女性一天喝6杯以上水，男性一天喝8杯以上水</p>
        </div>
			</li>
      <li class="item">
				<div class="icon"><img src="static/images/6.png" alt="" /></div>
        <div class="content">
          <div class="tip">避免太干燥的环境</div>
          <p>室内湿度要维持在50~60%(夏天 60-70%, 冬天 40-50%)</p>
        </div>
			</li>
    </ul>
  </div>
	<div class="gap"></div>
  <div class="header">
    <div class="title">胰腺年龄定制处方</div>
  </div>
  <div class="list">
    <ul>
      <li class="item">
        <div class="icon"><img src="static/images/6.png" alt="" /></div>
        <div class="content">
          <div class="tip">避免过度饮酒、过度进食、吃夜宵、暴食 </div>
          <p>过度的热量摄取是诱发肥胖和慢性疾病的原因， 所以要维持良好的饮食习惯</p>
        </div>
      </li>
      <li class="item">
        <div class="icon"><img src="static/images/6.png" alt="" /></div>
        <div class="content">
          <div class="tip">避免摄取过度的糖份</div>
          <p>碳水化合物控制在一日摄取热量的55~60%，糖20g以下碳水化合物控制在一日摄取热量的55~60%，糖20g以下</p>
        </div>
      </li>
      <li class="item">
        <div class="icon"><img src="static/images/6.png" alt="" /></div>
        <div class="content">
          <div class="tip">维持适当的腰围</div>
          <p>腰围维持在男性90cm, 女性85cm以下</p>
        </div>
      </li>
      <li class="item">
        <div class="icon"><img src="static/images/6.png" alt="" /></div>
        <div class="content">
          <div class="tip">定期检查血糖</div>
          <p>每年定期检查血糖，预防血糖上升</p>
        </div>
      </li>
    </ul>
  </div>
	<div class="gap"></div>
  <div class="header">
    <div class="title">肺年龄定制处方</div>
  </div>
  <div class="list">
    <ul>
      <li class="item">
        <div class="icon"><img src="static/images/6.png" alt="" /></div>
        <div class="content">
          <div class="tip">管理好个人卫生</div>
          <p>外出后要洗手，饭后要刷牙</p>
        </div>
      </li>
      <li class="item">
        <div class="icon"><img src="static/images/6.png" alt="" /></div>
        <div class="content">
          <div class="tip">避免间接吸烟，禁烟</div>
          <p>暴露于吸烟烟雾环境中1小时，相当于吸4根烟</p>
        </div>
      </li>
      <li class="item">
        <div class="icon"><img src="static/images/6.png" alt="" /></div>
        <div class="content">
          <div class="tip">定期做有氧运动</div>
          <p>有氧运动可增强心肺功能</p>
        </div>
      </li>
      <li class="item">
        <div class="icon"><img src="static/images/6.png" alt="" /></div>
        <div class="content">
          <div class="tip">平时经常通风换气</div>
          <p>每3~4小时、一次20~30分钟通风换气</p>
        </div>
      </li>
    </ul>
  </div>
</body>
</html>
