<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="format-detection" content="telephone=no, email=no" />
	<script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.2/??flexible_css.js,flexible.js"></script>
	<link rel="stylesheet" href="static/css/medical-report-bodysys.css">
</head>
<body>
  <div class="header">
    <ul class="bodysys-list">
      <li class="active">运动系统</li>
      <li>消化系统</li>
      <li>呼吸系统</li>
      <li>泌尿系统</li>
      <li>血液循环系统</li>
      <li>生殖系统</li>
      <li>淋巴系统</li>
      <li>内分泌系统</li>
    </ul>
  </div>
  <div class="bodysys">
    <ul class="bodysys-img">
      <li><img src="static/images/1.png" alt="" /></li>
      <li><img src="static/images/2.jpg" alt="" /></li>
      <li><img src="static/images/3.png" alt="" /></li>
      <li><img src="static/images/4.jpg" alt="" /></li>
      <li><img src="static/images/1.jpg" alt="" /></li>
      <li><img src="static/images/3.png" alt="" /></li>
      <li><img src="static/images/2.jpg" alt="" /></li>
      <li><img src="static/images/4.jpg" alt="" /></li>
    </ul>
    <div class="button">
      <div class="prev"><img src="static/images/6.png" alt="" /></div>
      <div class="next"><img src="static/images/6.png" alt="" /></div>
			<div class="abnormal"></div>
    </div>
  </div>
  <div class="bodysys-info">
    <div class="bodysys-info-detail">
      <ul>
        <li class="bodysys-info-item">
          <div class="square-left red"></div>
          <div class="title">左眼裸视</div>
          <div class="content">93.3%</div>
          <div class="square-right red">正常</div>
        </li>
				<li class="bodysys-info-item">
          <div class="square-left red"></div>
          <div class="title">左眼裸视</div>
          <div class="content">93.3%</div>
          <div class="square-right red">正常</div>
        </li>
				<li class="bodysys-info-item">
          <div class="square-left green"></div>
          <div class="title">左眼裸视</div>
          <div class="content">93.3%</div>
          <div class="square-right green">正常</div>
        </li>
				<li class="bodysys-info-item">
          <div class="square-left blue"></div>
          <div class="title">左眼裸视</div>
          <div class="content">93.3%</div>
          <div class="square-right blue">正常</div>
        </li>
				<li class="bodysys-info-item">
          <div class="square-left blue"></div>
          <div class="title">左眼裸视</div>
          <div class="content">93.3%</div>
          <div class="square-right blue">正常</div>
        </li>
				<li class="bodysys-info-item">
          <div class="square-left blue"></div>
          <div class="title">左眼裸视</div>
          <div class="content">93.3%</div>
          <div class="square-right blue">正常</div>
        </li>
      </ul>
    </div>
  </div>
</body>
</html>
