<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <% include common/header.ejs %>
</head>
<body>
<% include common/navbar.ejs %>
<div>
    <h2>testjjk</h2>

    <h3><a href="http://www.mi.com">http://www.mi.com</a></h3>

    <h3><a href="JJK://IM">JJK://IM</a></h3>

    <h3><a href="JJK://PRODUCT">JJK://PRODUCT</a></h3>

    <h3><a href="JJK://PRODUCT/2">JJK://PRODUCT/2</a></h3>

    <h3><a href="JJK://PRODUCT/6">JJK://PRODUCT/6</a></h3>

    <h3><a href="JJK://ADDCART?a=1&b=2">JJK://ADDCART?a=1&b=2</a></h3>

    <h3><input type='checkbox' checked id='cbx'/> <a href="javascript:void(0)">阅读须知</a></h3>

    <h5>用户token是: <span id="token"></span></h5>

    <h5>绑定流程id是: <span id="processid"></span></h5>

    <h5>flag是: <span id="flag"></span></h5>

    <h3><input type='checkbox' id='genes_filter'/> <a href="javascript:void(0)">显示筛选按钮</a></h3>

    <button class="btn btn-info" id="to_genes_collect_guide">基因采集</button>

    <h5>localStorage <span id="id_localStorage"></span></h5>

    <h5>data是: <span id="data"></span></h5>
    <h5>预约码是: <span id="bookcode"></span></h5>
    <h5><input width="100px" id="finish_delay" type="number">
        <button class="btn btn-info" id="finish_page">关闭页面</button>
    </h5>
</div>

<% include common/footer.ejs %>
<script src="/js/ios.invoke.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript">

    function genesFilter() {
        alert("调用了 genesFilter() 方法");
    }

    $(document).ready(function () {
        try {
            if (/(iPhone|iPad|iPod|iOS)/i.test(navigator.userAgent)) {

                window.external.invoke("getAppointCode", {}, function (status, result) {
                    if (status == 200) {
                        var bookcode = result;
                        $('#bookcode').text(result);
                    } else {
                        alert("get value error.");
                    }
                });


            } else if (/(Android)/i.test(navigator.userAgent)) {
                var bookcode = window.jjk.getAppointCode();
                $('#bookcode').text(bookcode);
            }
        }
        catch (e) {
            console.log(e.message);
        }
    });

    //getParams获取传递参数
    $(document).ready(function () {
        try {
            if (/(iPhone|iPad|iPod|iOS)/i.test(navigator.userAgent)) {

                window.external.invoke("getParams", {}, function (status, result) {
                    if (status == 200) {
                        $('#token').text(result.token);
                        $('#processid').text(result.sid);
                        $('#flag').text(result.iflag);
                        $('#data').text(JSON.stringify(result.sdata));
                    } else {
                        alert("get value error.");
                    }
                });


            } else if (/(Android)/i.test(navigator.userAgent)) {
                var paramsStr = window.jjk.getParams();
                var params = JSON.parse(paramsStr);
                $('#token').text(params.token);
                $('#processid').text(params.sid);
                $('#flag').text(params.iflag);
                $('#data').text(params.sdata);
            }
        }
        catch (e) {
            console.log(e.message);
        }
    });

    //基因问卷完成调用
    $(document).ready(function () {
        $("#to_genes_collect_guide").on("click", function () {
            if (/(iPhone|iPad|iPod|iOS)/i.test(navigator.userAgent)) {
                window.external.invoke("toGenesCollectGuide", {}, function (status, result) {
                });
            } else if (/(Android)/i.test(navigator.userAgent)) {
                window.jjk.toGenesCollectGuide();
            }
        });
    });


    //设置按钮是否可点击
    $(document).ready(function () {
        $("#cbx").change(function () {
            if (this.checked) {
                if (/(iPhone|iPad|iPod|iOS)/i.test(navigator.userAgent)) {
                    window.external.invoke("setButtonEnable", {
                        "type": "buy_product",
                        "enable": "1"
                    }, function (status, result) {

                    });
                } else if (/(Android)/i.test(navigator.userAgent)) {
                    window.jjk.setButtonEnable('buy_product', '1');
                }

            } else {
                if (/(iPhone|iPad|iPod|iOS)/i.test(navigator.userAgent)) {
                    window.external.invoke("setButtonEnable", {
                        "type": "buy_product",
                        "enable": "0"
                    }, function (status, result) {

                    });
                } else if (/(Android)/i.test(navigator.userAgent)) {
                    window.jjk.setButtonEnable('buy_product', '0');
                }

            }
        });
    });

    //控制按钮显示与否
    $(document).ready(function () {
        $("#genes_filter").change(function () {
            if (this.checked) {
                if (/(iPhone|iPad|iPod|iOS)/i.test(navigator.userAgent)) {
                    window.external.invoke("setButtonEnable", {
                        "type": "genes_filter",
                        "enable": "1"
                    }, function (status, result) {

                    });
                } else if (/(Android)/i.test(navigator.userAgent)) {
                    window.jjk.setButtonEnable('genes_filter', '1');
                }

            } else {
                if (/(iPhone|iPad|iPod|iOS)/i.test(navigator.userAgent)) {
                    window.external.invoke("setButtonEnable", {
                        "type": "genes_filter",
                        "enable": "0"
                    }, function (status, result) {

                    });
                } else if (/(Android)/i.test(navigator.userAgent)) {
                    window.jjk.setButtonEnable('genes_filter', '0');
                }

            }
        });
    });

    //localStorage
    $(document).ready(function () {
        if (window.localStorage) {
            alert('This browser supports localStorage');
            if (/(iPhone|iPad|iPod|iOS)/i.test(navigator.userAgent)) {
            } else if (/(Android)/i.test(navigator.userAgent)) {
            }
            var storage = window.localStorage;
            if (!storage.getItem("pageLoadCount")) {
                storage.setItem("pageLoadCount", 0);
            }
            storage.pageLoadCount = parseInt(storage.getItem("pageLoadCount")) + 1;//必须格式转换
            $('#id_localStorage').text(storage.pageLoadCount);
        } else {
            alert('This browser does NOT support localStorage');
        }
    });


    //关闭页面
    $(document).ready(function () {
        $("#finish_page").on("click", function () {
            var delay = $("#finish_delay").val();
            if (/(iPhone|iPad|iPod|iOS)/i.test(navigator.userAgent)) {
                window.external.invoke("finishPage", {"delay": delay}, function (status, result) {
                });
            } else if (/(Android)/i.test(navigator.userAgent)) {
                window.jjk.finishPage(delay);
            }
        });
    });

</script>

</body>
</html>