<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <% include common/header.ejs %>
</head>
<body>
<% include common/navbar.ejs %>
<div>
    <h1><%= title %></h1>
</div>

<% include common/footer.ejs %>
</body>
</html>