<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <% include ../common/header.ejs %>
    <style>
        .panel {
            margin-left: 50px;
            margin-right: 100px;
        }
    </style>

</head>
<body>
<% include ../common/navbar.ejs %>

<div class="panel panel-info">
    <div class="panel-heading">关于</div>
    <div class="panel-body">
        <div class="container">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-3"><h3>ruidge</h3></div>
                <div class="col-md-3"></div>
                <div class="col-md-3"></div>
            </div>

            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-3"><h4>Android Developer</h4></div>
                <div class="col-md-3"></div>
                <div class="col-md-3"></div>
            </div>

            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-3"><h4>Weibo: <a href="http://weibo.com/zr714" target="_blank">ruidge</a></h4></div>
                <div class="col-md-3"></div>
                <div class="col-md-3"></div>
            </div>

            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-3"><h4>Email: <a href="mailto://ruidge@qq.com" target="_blank">ruidge@qq.com</a></h4>
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
</div>
<% include ../common/footer.ejs %>
<script>
    $(function () {
        $('#bs-example-navbar-collapse-1 li').removeClass('active');
        $('#id_tab_about').addClass('active');
    });
</script>
</body>
</html>