<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <% include ../common/header.ejs %>
</head>

<body>
<% include ../common/navbar.ejs %>

<div class="container">

    <div class="row">
        <div class="col-md-3"><h3><a href="/testjjk" target="_blank">testjjk page</a></h3></div>
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
    </div>


</div>

<% include ../common/footer.ejs %>
<script>
    $(function () {
        $('#bs-example-navbar-collapse-1 li').removeClass('active');
        $('#id_tab_home').addClass('active');
    });
</script>
</body>
</html>