/*
 * index_mock
 */

.layer {
    width: 100%;
    height: 100%;
    background-color: rgba(9, 9, 9, 0.5);
    position: fixed;
    /*display: none;*/
    bottom: 0;
    left: 0;
    z-index: 1;
}

.layer .content {
    width: 90%;
    height: 80%;
    position: absolute;
    background-color: #fff;
    margin-left: 5%;
    margin-top: 5%;
    margin-right: 5%;
    border-radius: 20px;
    padding-left: 5%;
    padding-right: 5%;
}

.layer .close {
    width: 40px;
    height: 40px;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #fff;
    z-index: 1;
    color: #fff;
    font-size: 35px;
    text-align: center;
    background-color: #616161;
    line-height: 40px;
    right: -20px;
    top: -20px;
}

.layer-title {
    font-size: 28px;
    text-align: center;
    color: #000;
    margin-top: 67px;
    margin-bottom: 40px;
}

.layer p {
    font-size: 24px;
    width: 80%;
    margin: 0 auto;
    line-height: 45px;
    color: #666;
}