<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <% include ../common/header.ejs %>
</head>

<body>
<% include ../common/navbar.ejs %>

<div class="container">
    <div><%- locals.content %></div>
</div>

<script>
    console.log(<%-JSON.stringify( locals )%>);
</script>

<% include ../common/footer.ejs %>
<script>
    $(function () {
        $('#bs-example-navbar-collapse-1 li').removeClass('active');
        $('#id_tab_blog').addClass('active');
    });
</script>
</body>
</html>